<% if (errors && errors[attribute]) { %>
    <% Object.values(errors[attribute]).forEach((err) => { %>
        <div class="alert alert-danger">
            <%= err %>
        </div>
    <% }); %>
<% } %>