<% if (errors && errors[attribute]) { %>
    <% Object.values(errors[attribute]).forEach((err) => { %>
        <div class="alert alert-danger">
            <%= err %>
        </div>
    <% }); %>
<% } %>
<% if (success && success[attribute]) { %>
    <% Object.values(success[attribute]).forEach((err) => { %>
        <div class="alert alert-success">
            <%= err %>
        </div>
    <% }); %>
<% } %>
<% if (warning && warning[attribute]) { %>
    <% Object.values(warning[attribute]).forEach((err) => { %>
        <div class="alert alert-warning">
            <%= err %>
        </div>
    <% }); %>
<% } %>
<% if (info && info[attribute]) { %>
    <% Object.values(info[attribute]).forEach((err) => { %>
        <div class="alert alert-info">
            <%= err %>
        </div>
    <% }); %>
<% } %>